[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-widget-tweaks = "*"
django-environ = "*"
gunicorn = "*"
psycopg2 = "*"
dj-database-url = "*"
boto3 = "*"
django-storages = "*"
django-cleanup = "*"

[dev-packages]
black = "*"
djlint = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
