{% extends "dashboard_template_base.html" %}
{% load static %}
{% block title %}
  Operator Login
{% endblock title %}
{% block maincontent %}
  <main>
    <!-- Section -->
    <section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
      <div class="container">
        <p class="text-center">
          <a href="{% url 'homepage' %}"
             class="d-flex align-items-center justify-content-center">
            <svg class="icon icon-xs me-2"
                 fill="currentColor"
                 viewBox="0 0 20 20"
                 xmlns="http://www.w3.org/2000/svg">
              <path
              fill-rule="evenodd"
              d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z"
              clip-rule="evenodd"
              />
             
            </svg>
            Back to homepage
          </a>
        </p>
        <div class="row justify-content-center form-bg-image"
             data-background-lg="{% static 'core/assets/img/illustrations/signin.svg' %}">
          <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500">
              <div class="text-center text-md-center mb-4 mt-md-0">
                <h1 class="mb-0 h3">Sign in to the dashboard!</h1>
              </div>
              <form class="mt-4" method="post" action="{% url 'login_page' %}">
                {% csrf_token %}
                <!-- Form -->
                <div class="form-group mb-4">
                  <label for="username">Username</label>
                  <div class="input-group {% if error %} is-invalid{% endif %}">
                    <span class="input-group-text" id="basic-addon1">
                      <svg xmlns="http://www.w3.org/2000/svg"
                           class="icon icon-xs text-gray-600"
                           viewBox="0 0 20 20"
                           fill="currentColor">
                        <path fillRule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clipRule="evenodd" />
                      </svg>
                    </span>
                    <input type="text"
                           class="form-control {% if error %}is-invalid{% endif %} "
                           placeholder="username"
                           id="username"
                           name="username"
                           autofocus
                           required/>
                    {% if error %}<div class="invalid-feedback">Something went wrong. Check username and password!</div>{% endif %}
                  </div>
                </div>
                <!-- End of Form -->
                <div class="form-group">
                  <!-- Form -->
                  <div class="form-group mb-4">
                    <label for="password">Password</label>
                    <div class="input-group">
                      <span class="input-group-text" id="basic-addon2">
                        <svg class="icon icon-xs text-gray-600"
                             fill="currentColor"
                             viewBox="0 0 20 20"
                             xmlns="http://www.w3.org/2000/svg">
                          <path
                          fill-rule="evenodd"
                          d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                          clip-rule="evenodd"
                          />
                        </svg>
                      </span>
                      <input type="password"
                             placeholder="Password"
                             class="form-control {% if error %} is-invalid{% endif %}"
                             id="password"
                             name="password"
                             required/>
                      {% if error %}<div class="invalid-feedback">Something went wrong. Check username and password</div>{% endif %}
                    </div>
                  </div>
                  <!-- End of Form -->
                </div>
                <div class="d-grid">
                  <button type="submit" class="btn btn-gray-800 mt-4">Sign in</button>
                </div>
              </form>
              <div class="d-flex justify-content-center align-items-center mt-4">
                <span class="fw-normal small">
                  Having troubles signing in?
                  <a href="./sign-up.html" class="fw-bold">Contact Admin</a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock maincontent %}
