{% extends "base.html" %}
{% block content %}
  <main id="main">
    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg ">
      <div class="container ">
        <div class="section-title boats-heading1">
          <div class="row section-title1 boats-heading3">
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member">
                <div class="member-info">
                  <h4>{{ boat.name }}</h4>
                  <span> <b>LASWA Approval: {{ boat.laswa_approval_date }}</b></span>
                  <span> <b> NIWA Approval: {{ boat.niwa_approval_date }}</b> </span>
                  <span> <b> Certification Status: {{ boat.certification_status }}</b> </span>
                  <span> <b> Rating: {{ boat.reviews_count }}</b> </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row boats-heading2">
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="{{ boat.captain_photo.url }}" class="img-fluid" alt="captain" />
              </div>
              <div class="member-info">
                <h4>Captain</h4>
                <span>{{ boat.captain_name }}</span>
                <span>Certifications: {{ boat.captain_certification }}</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="{{ boat.deckhand_photo.url }}" class="img-fluid" alt="deckhand" />
              </div>
              <div class="member-info">
                <h4>Deckhand</h4>
                <span>A{{ boat.deckhand_name }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Team Section -->
  </main>
{% endblock content %}
