{% extends "base.html" %}
{% block content %}
  <main id="main">
    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">
        <div class="section-title boats-heading1">
          <div class="row section-title1 boats-heading3">
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member">
                <div class="member-info">
                  <h4>{{ boat.name }}</h4>
                  <span>
                    <b>LASWA Approval: {{ boat.laswa_approval_date }}</b></span
                  >
                  <span>
                    <b> NIWA Approval: {{ boat.niwa_approval_date }}</b>
                  </span>
                  <span>
                    <b> Certification Status: {{ boat.certification_status }}</b>
                  </span>
                  <span> <b> Rating: {{ boat.reviews_count }}</b> </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row boats-heading2">
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img height=""
                     width=""
                     src="{{ boat.captain_photo.url }}"
                     class="img-fluid"
                     alt="captain"/>
              </div>
              <div class="member-info">
                <h4>Captain</h4>
                <span>{{ boat.captain_name }}</span>
                <span>Certifications: {{ boat.captain_certification }}</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img height=""
                     width=""
                     src="{{ boat.deckhand_photo.url }}"
                     class="img-fluid"
                     alt="deckhand"/>
              </div>
              <div class="member-info">
                <h4>Deckhand</h4>
                <span>{{ boat.deckhand_name }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Team Section -->
    <div class="container">
      <div class="container my-5 py-5 text-area">
        <div class="row d-flex justify-content-center text-area">
          <div class="col-md-12 col-lg-10 col-xl-8">
            <form class="card" action="{% url 'one_boat' boat.pk %}" method="post">
              {% csrf_token %}
              <div class="card-footer py-3 border-0">
                <div class="d-flex flex-start w-100">
                  <div class="form-outline w-100">
                    <textarea class="form-control"
                              id="textAreaExample"
                              placeholder="Have a comment?"
                              rows="4"
                              name="content"
                              style="background: #fff"></textarea>
                  </div>
                </div>
                <div class="float-end mt-2 pt-1">
                  <button type="submit" class="btn btn-secondary btn-sm">Post comment</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- </section> -->
      <div class="review-list">
        <ul>
          {% for review in reviews %}
            <li>
              <div class="d-flex d-flex1">
                <div class="right">
                  <div class="review-description">
                    <p>{{ review.content }}</p>
                  </div>
                <span class="publish py-3 d-inline-block w-100">Published {{ review.created }}</span
                >
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</main>
{% endblock content %}
