{% extends "base-tailwind.html" %}

{% block content %}
<section class="text-gray-600 body-font w-full">
    <div class="container px-5 py-14 mx-auto">
        <div class="text-center">
            <h1 class="sm:text-3xl text-2xl font-medium text-center title-font text-gray-900 mb-4">{{ business.name }}
            </h1>
            <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto">{{business.owner}}</p>
        </div>

    </div>
    <h1 class="sm:text-2xl text-xl font-medium text-center title-font text-gray-900 mb-4">Boats
    </h1>
</section>
<section class="text-gray-600 body-font mt-24">
    <div class="container px-12 mx-auto">
        <div class="flex flex-wrap -m-4">
            {% for boat in boats %}
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-48 rounded overflow-hidden" href="{% url 'one_boat' boat.pk %}">
                    <img alt="ecommerce" height="" width="" class="object-cover object-center w-full h-full block"
                        src="{{ boat.captain_photo.url }}" />
                </a>
                <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">{{ boat.captain_name}}</h3>
                    <h2 class="text-gray-900 title-font text-lg font-medium">{{boat.name}}</h2>
                    <p class="mt-1">4.5</p>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>
{% endblock content %}