<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/core/static/core/css/style.css" />
    <title>Hello, world!</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#about">Boats</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">Contact Us</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="#about">About Us</a>
              </li> -->
          </ul>
           <button class="btn btn-outline-success my-2 my-sm-0 button-1" type="submit">Operator Login</button>
        </div>
      </nav>
      <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">

        <!--Indicators-->
        <!-- <ol class="carousel-indicators">
          <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-1z" data-slide-to="1"></li>
          <li data-target="#carousel-example-1z" data-slide-to="2"></li>
        </ol> -->
        <!--/.Indicators-->
    
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
    
          <!--First slide-->
          <div class="carousel-item active">
            <div class="view" style="background-image: url('/core/static/core/assets/img/Group\ 5.png'); background-repeat: no-repeat; background-size: cover;">
    
              <!-- Mask & flexbox options-->
              <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
    
                <!-- Content -->
                <div class="text-center">
                  <h1 class="text-2">
                    <strong>Welcome to the website of <br>
                        The Association of Tourist Boat Operators and Water <br>
                        Transporters of Nigeria <br>
                        (ATBOWATON), Ikorodu Zone of Lagos</strong>
                  </h1>
                </div>
                <!-- Content -->
    
              </div>
              <!-- Mask & flexbox options-->
    
            </div>
          </div>
          <!--/First slide-->
    
    
        </div>
        <!--/.Slides-->
    
      </div>
      <!-- <div class="hero">        
            <img src="Group 5.png" class="img-fluid img-1" alt="Responsive image">
              <h1 class="text">Welcome to the website of <br>
                The Association of Tourist Boat Operators and Water <br>
                Transporters of Nigeria <br>
                (ATBOWATON), Ikorodu Zone of Lagos</h1>
          </div> -->
      <div class="section-3-h">
        <h3>Approved By:</h3>
      </div>

      <div class="section-3">
        
        <div class="card-group card-grp">
            <div class="card align-items-center card1">
              <img src="/core/static/core/assets/img/LASWA.png" class="card-img-top logo-class" alt="...">
              <div class="card-body">
                <h5 class="card-title"> Lagos Waterways Authority <br>
                    (LASWA)</h5>
                 </div>
            </div>
            <div class="card align-items-center card2">
                <img src="/core/static/core/assets/img/niwa.jpg" class="card-img-top logo-class2" alt="...">
                <div class="card-body card-bdy">
                  <h5 class="card-title card-title-1">National Inland Waterways Authority
                    (NIWA)</h5>
                   </div>
              </div>
          </div>
      </div>
        <footer class="text-center text-white footer-1 p-3">

      <a class="text-white" href="https://mdbootstrap.com/">© 2020 Copyright:MDBootstrap.com</a>
    <!-- Copyright -->
  </footer>
      

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    -->
  </body>
</html>