{% extends "base.html" %}
{% load static %}
{% block title %}
    Homepage
{% endblock title %}
{% block content %}
    <section id="hero" class="d-flex align-items-center">
        <div class="container" data-aos="zoom-out" data-aos>
            <h1>
                <span>IKORODU</span> BOAT OPERATORS
            </h1>
            <h2>All Ikorodu boat owners' associations in one place; free to access and easy to use.</h2>
            <div class="d-flex">
                <a href="{% url 'operator_list' 'iboa' %}"
                   class="btn-get-started scrollto union-btn">IBOA</a>
            </div>
            <br>
            <div class="d-flex">
                <a href="{% url 'operator_list' 'ufta' %}"
                   class="btn-get-started scrollto union-btn">UFTA</a>
            </div>
            <br>
            <div class="d-flex">
                <a href="{% url 'operator_list' 'atbowaton' %}"
                   class="btn-get-started scrollto union-btn">ATBOWATON</a>
            </div>
        </div>
    </section>
    <!-- End Hero -->
    <main id="main">
        <!-- ======= Featured Services Section ======= -->
        <section id="featured-services" class="featured-services">
            <div class="container">
                <div class="section-title">
                    <!-- <h2>Services</h2> -->
                    <h3>
                        <span>Approved</span> by:
                    </h3>
                    <br />
                    <!-- <p>All associations have been approved and</p> -->
                </div>
                <div class="row services-row">
                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                        <div class="icon-box">
                            <div class="icon">
                                <img src="{% static 'core/assets/img/LASWA.png' %}" />
                            </div>
                            <h4 class="title">
                                <a href="">Lagos Waterways Authority
                                    <br />
                                (LASWA)</a>
                            </h4>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                        <div class="icon-box">
                            <div class="icon">
                                <img src="{% static 'core/assets/img/niwa-1.jpg' %}"/>
                            </div>
                            <h4 class="title">
                                <a href="">National Inland Waterways
                                    <br />
                                    Authority
                                    <br />
                                (NIWA)</a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Featured Services Section -->
        <!-- ======= Team Section ======= -->
        <section id="team" class="team section-bg">
            <div class="container">
                <div class="section-title">
                    <!-- <h3>About<span>Us</span></h3> -->
                    <!-- <p>Say something about the ikorodu boat owners belonging to one of the three associations</p>
        <p></p>
        <br> -->
                    <h3>ASSOCIATIONS</h3>
                    <br />
                    <h2>
                        The Association of Tourist Boat Operators and Water Transporters
                        of Nigeria (ATBOWATON)
                    </h2>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member">
                            <div class="member-img">
                                <img src="{% static 'core/assets/img/team/user.png' %}"
                                     class="img-fluid"
                                     alt=""/>
                            </div>
                            <div class="member-info">
                                <h4>Mr. Olusoji Majofodun</h4>
                                <span>Chairman</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member">
                            <div class="member-img">
                                <img src="{% static 'core/assets/img/team/user.png' %}"
                                     class="img-fluid"
                                     alt=""/>
                            </div>
                            <div class="member-info">
                                <h4>Barr. Raphael Aribisala</h4>
                                <span>General Secretary</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member">
                            <div class="member-img">
                                <img src="{% static 'core/assets/img/team/user.png' %}"
                                     class="img-fluid"
                                     alt=""/>
                            </div>
                            <div class="member-info">
                                <h4>Aworetan Ayomikun</h4>
                                <span>Asst. General Secretary</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member">
                            <div class="member-img">
                                <img src="{% static 'core/assets/img/team/user.png' %}"
                                     class="img-fluid"
                                     alt=""/>
                            </div>
                            <div class="member-info">
                                <h4>Mr. Okunnuwa Olajaphet</h4>
                                <span>P.R.O</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member">
                            <div class="member-img">
                                <img src="{% static 'core/assets/img/team/user.png' %}"
                                     class="img-fluid"
                                     alt=""/>
                            </div>
                            <div class="member-info">
                                <h4>Mr. Kayode Adesanya</h4>
                                <span>Treasurer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="team" class="team section-bg">
            <div class="container">
                <div class="section-title">
                    <!-- <h3>About<span>Us</span></h3> -->
                    <!-- <p>Say something about the ikorodu boat owners belonging to one of the three associations</p>
        <p></p>
        <br> -->
                    <!-- <h3>
                        UFTA<span></span>
                    </h3> -->
                    <br />
                    <h2>
                        United Ferry Transporters' Association (UFTA)
                    </h2>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member">
                            <div class="member-img">
                                <img src="{% static 'core/assets/img/team/user.png' %}"
                                     class="img-fluid"
                                     alt=""/>
                            </div>
                            <div class="member-info">
                                <h4>
                                    Walter White
                                </h4>
                                <span>Chairman</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member">
                            <div class="member-img">
                                <img src="{% static 'core/assets/img/team/user.png' %}"
                                     class="img-fluid"
                                     alt=""/>
                            </div>
                            <div class="member-info">
                                <h4>
                                    Walter White
                                </h4>
                                <span>Secretary</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member">
                            <div class="member-img">
                                <img src="{% static 'core/assets/img/team/user.png' %}"
                                     class="img-fluid"
                                     alt=""/>
                            </div>
                            <div class="member-info">
                                <h4>
                                    Walter White
                                </h4>
                                <span>P.R.O</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member">
                            <div class="member-img">
                                <img src="{% static 'core/assets/img/team/user.png' %}"
                                     class="img-fluid"
                                     alt=""/>
                            </div>
                            <div class="member-info">
                                <h4>
                                    Walter White
                                </h4>
                                <span>Treasurer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="team" class="team section-bg">
            <div class="container">
                <div class="section-title">
                    <!-- <h3>About<span> Us</span></h3> -->
                    <!-- <p>Say something about the ikorodu boat owners belonging to one of the three associations</p>
        <p></p>
        <br> -->
                    <!-- <h3>
                        IBOA<span></span>
                    </h3> -->
                    <br />
                    <h2>
                        Integrated Boat Operators Association (IBOA)
                    </h2>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member">
                            <div class="member-img">
                                <img src="{% static 'core/assets/img/team/user.png' %}"
                                     class="img-fluid"
                                     alt=""/>
                            </div>
                            <div class="member-info">
                                <h4>
                                    Walter White
                                </h4>
                                <span>Chairman</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member">
                            <div class="member-img">
                                <img src="{% static 'core/assets/img/team/user.png' %}"
                                     class="img-fluid"
                                     alt=""/>
                            </div>
                            <div class="member-info">
                                <h4>
                                    Walter White
                                </h4>
                                <span>Secretary</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member">
                            <div class="member-img">
                                <img src="{% static 'core/assets/img/team/user.png' %}"
                                     class="img-fluid"
                                     alt=""/>
                            </div>
                            <div class="member-info">
                                <h4>
                                    Walter White
                                </h4>
                                <span>P.R.O</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member">
                            <div class="member-img">
                                <img src="{% static 'core/assets/img/team/user.png' %}"
                                     class="img-fluid"
                                     alt=""/>
                            </div>
                            <div class="member-info">
                                <h4>
                                    Walter White
                                </h4>
                                <span>Treasurer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container">
                <div class="section-title">
                    <!-- <h2>Contact</h2> -->
                    <h3>
                        Contact<span> Us</span>
                    </h3>
                    <p>
                        Kindly reach out to us through any of the following means listed below.
                    </p>
                </div>
                <div class="row">
                    <div class="col-lg-5">
                        <div class="info-box mb-4">
                            <i class="bx bx-map"></i>
                            <h3>
                                Our Address
                            </h3>
                            <p>
                                Ikorodu Ferry Terminal,
                                <br>
                                Ebute, Ikpakodo,
                                <br>
                                Ikorodu, Lagos.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="info-box mb-4">
                            <i class="bx bx-phone-call"></i>
                            <h3>
                                Call Us
                            </h3>
                            <p>
                                08062154262
                            </p>
                            <p>
                                08102619777
                            </p>
                            <p>
                                08099714108
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="info-box mb-4">
                            <i class="bx bx-envelope"></i>
                            <h3>
                                Email Us
                            </h3>
                            <p>
                                integratedoperatorsasociation@gmail.com
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Contact Section -->
    </main>
{% endblock content %}
