{% extends 'dashboard_base.html' %}
{% block title %}
All Boats
{% endblock title %}



{% block content %}

<div class="py-4">

    <a href="{% url 'admin_add_boat' %}" class="btn btn-gray-800 d-inline-flex align-items-center me-2">
        <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6">
            </path>
        </svg>
        New Boat
    </a>


</div>

<div class="row">
    <div class="col-12 col-xl-12">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card border-0 shadow">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h2 class="fs-5 fw-bold mb-0">Boats</h2>
                            </div>

                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th class="border-bottom" scope="col">Boat name</th>
                                    <th class="border-bottom" scope="col">Captain</th>
                                    <th class="border-bottom" scope="col">Reviews</th>
                                    <th class="border-bottom" scope="col">Average Rating</th>
                                    <th class="border-bottom" scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="fw-bolder text-gray-500" scope="row">
                                        RH-01
                                    </td>
                                    <td class="fw-bolder text-gray-500">
                                        Jimoh Danladi
                                    </td>
                                    <td class="fw-bolder text-gray-500">
                                        320
                                    </td>
                                    <td class="fw-bolder text-gray-500">
                                        <div class="d-flex">
                                            <svg class="icon icon-xs text-danger me-2" fill="currentColor"
                                                viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                    d="M5.293 7.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L6.707 7.707a1 1 0 01-1.414 0z"
                                                    clip-rule="evenodd"></path>
                                            </svg>
                                            3.5
                                        </div>
                                    </td>

                                    <td>
                                        stuff
                                    </td>
                                </tr>
                                <tr>
                                    <th class="fw-bolder text-gray-500" scope="row">
                                        RH-01
                                    </th>
                                    <td class="fw-bolder text-gray-500">
                                        John Doe
                                    </td>
                                    <td class="fw-bolder text-gray-500">
                                        1550
                                    </td>
                                    <td class="fw-bolder text-gray-500">
                                        <div class="d-flex">
                                            <svg class="icon icon-xs text-success me-2" fill="currentColor"
                                                viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                    d="M14.707 12.293a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 111.414-1.414L9 14.586V3a1 1 0 012 0v11.586l2.293-2.293a1 1 0 011.414 0z"
                                                    clip-rule="evenodd"></path>
                                            </svg>
                                            4.2
                                        </div>
                                    </td>

                                    <td>
                                        stuff
                                    </td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

{% endblock content %}