{% extends 'dashboard_base.html' %}
{% block title %}
Add Boat
{% endblock title %}




{% block content %}

<div class="py-4">
    <h1 class="h4">Add New Business</h1>
</div>

<div class="row">
    <div class="col-12 col-xl-12">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card border-0 shadow components-section">
                    <div class="card-body">
                        <div class="row mb-4">
                            <form class="col-lg-12 col-sm-12" method="POST" action="{% url 'dashboard_business_add' %}">
                                {% csrf_token %}
                                
                                <div class="mb-3">
                                    <label for="name">Business Name</label>
                                    <input type="text" class="form-control {% if form.errors.name %}is-invalid{% endif %}" id="name" name="name" required>
                                    
                                    {% if form.errors.name %}
                                    <div class="invalid-feedback">
                                        {{ form.errors.name}}
                                      </div>
                                    {% endif %}
                           
                                
                                </div>
                                <div class="mb-3">
                                    <label for="owner">Owner Name</label>
                                    <input type="text" class="form-control" id="owner"
                                        name="owner" required>
                                </div>
                                <div class="mb-3">
                                    <label for="operation_commenced">Business Operation Commenced</label>
                                    <input type="number" class="form-control" id="operation_commenced" name="operation_commenced"
                                        required>
                                </div>
                                <button class="btn btn-gray-800 d-inline-flex align-items-center me-2 " type="submit">
                                    Add Business
                                </button>
                            </form>



                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

{% endblock content %}