{% extends "dashboard_base.html" %}
{% load static %}
{% block title %}
  Change
  Password
{% endblock title %}
{% block content %}
  <div class="my-4">
    <h1 class="h4">Change Password</h1>
  </div>
  <div class="row">
    <div class="col-12 col-xl-12">
      <div class="row">
        <div class="col-12 mb-4">
          <div class="card border-0 shadow components-section">
            <div class="card-body">
              <div class="row mb-4">
                <form class="col-lg-12 col-sm-12"
                      method="post"
                      action="{% url 'dashboard_settings' %}">
                  {% csrf_token %}
                  <div class="mb-3">
                    <label for="old_password">Current Password</label>
                    <input type="password"
                           class="form-control {% if form.errors.old_password %}is-invalid{% endif %}"
                           id="old_password"
                           name="old_password"
                           required/>
                    {% if form.errors.old_password %}<div class="invalid-feedback">{{ form.errors.old_password }}</div>{% endif %}
                  </div>
                  <div class="mb-3">
                    <label for="new_password">New Password</label>
                    <input type="password"
                           class="form-control {% if form.errors.new_password_confirm %}is-invalid{% endif %}"
                           id="new_password"
                           name="new_password"
                           required/>
                    {% if form.errors.new_password_confirm %}
                      <div class="invalid-feedback">{{ form.errors.new_password_confirm }}</div>
                    {% endif %}
                  </div>
                  <div class="mb-3">
                    <label for="new_password_confirm">Confirm New Password</label>
                    <input type="password"
                           class="form-control {% if form.errors.new_password_confirm %}is-invalid{% endif %}"
                           id="new_password_confirm"
                           name="new_password_confirm"
                           required/>
                    {% if form.errors.new_password_confirm %}
                      <div class="invalid-feedback">{{ form.errors.new_password_confirm }}</div>
                    {% endif %}
                  </div>
                  <button class="btn btn-gray-800 d-inline-flex align-items-center me-2"
                          type="submit">Change Password</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
